body {
 font: 1rem/1.5 var(--bs-font-sans-serif);
 color: var(--bs-body-color);
 background-color: #2b0945;
}

nav {
 background-color: #2b0945;
}
nav a {
 color: #ececec!important;
 font-size: 1.2em;
 font-weight: bold;
 text-decoration: none;
 padding: 10px 20px;
 transition: all 0.3s ease-in-out;
}

a {
	color: #ffc107!important;
	font-size: 12px;
}

a:hover {
	color: #8f6d07!important;
	text-decoration: none;
}

/* Definições padrões
primary-color: #2b0945
primary-color-light: #44285b
area-color: #10456a;
text-color-dark : #10456a;
text-color-default: #fff;
secondary-color:#ffc107
color-buttons: #f1936f

*/


/* - padroes comuns */

.subtext-white {
	font-family: 'Martel Sans', sans-serif;
	font-weight: 500;
	font-size: 1.125em;
	text-align: center;
	color: #e6e6e6;
}

.subtext-purple {
	font-family: 'Martel Sans', sans-serif;
	font-weight: 500;
	font-size: 1.125em;
	text-align: center;
	color: #2b0945;
}
.title {
	margin-top: 30px;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1.7em;
}
.subtext-red {
	text-transform: capitalize;
	font-size: 14px;
	color: #f1936f;
}
.subtext-description-purple	{
	font-family: 'Martel Sans', sans-serif;
	font-size: 12px;
	width: 250px;
	text-align: center;
	color: #2b0945;
}

.subtext-description {
	font-family: 'Martel Sans', sans-serif;
	font-size: 12px;
	text-align: center;
	color: #e6e6e6;
}

.btn-red {
  margin: 0 10px;
  padding: 5px 16px;
	font-family: 'Martel Sans', sans-serif;
  background-color: #f1936f;
  color:  #fff;
  border-radius: 20px;
}

.btn-red a {
  padding: 0px;
  margin: 0;
}




/*introdução*/

.intro {
 background: #ececec;
 display: flex;
 flex-direction: row;
 align-items: flex-end;
 justify-content: center;
 padding: 30px;
 background-color: #2b0945;
 color: #e6e6e6;

	@media ( max-width: 500px ) {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}
}


.intro img {
 margin-top: 30px;
 height: 200px;
 width: 200px;
}

/*fim da introdução*/

/** ações **/ 


.acoes {
	background-color: #10456a;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
 background-color: #44285b;

}

.acoes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
	position: relative;
}

@media ( max-width: 800px ) {
	.acoes-container {
	  display: flex;
	  flex-direction: column;
	}
}

.acoes-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	padding: 20px;
	margin: 20px;
	width: 300px;
	height: 340px;
	transition: 300ms transform ease-in-out;
}

.acoes-item:hover {
	transform: scale(1.1);
}

.img-acoes  {
	display: block;
	height: 160px;
	width: 160px;
	margin-bottom: 20px;
}


/* FIM ações */
/* team */

.team {
	background-color: #2b0945;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
 width: 100%;
 padding: 30px;
}

.card-custom {
	background-color: #44285b;
	border-radius: 15px; 
	height: 332px; 
	color: #ececec;
	
	p {
		font-size: 12px;
		text-align: center;
		color: #ececec!important;
	}

	a {
		color: #ffc107!important;
		font-size: 12px;
	}

	a:hover {
		color: #8f6d07!important;
		text-decoration: none;
	}
}


/* FIM Team
/* contratar */
.contratar{
	display: flex;
	justify-content: center;
	align-items: center;
}

@media ( max-width: 800px ) {
	.contratar {
	  display: flex;
	  flex-direction: column;
	}
}


.contratar-container {
	height: 420px;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.img-contratar {
	display: block;
	height: 420px;
	width: 240px;
	margin-bottom: 20px;
}

/* footer  */
.cont-footer {
	display: flex;
 justify-content: flex-end;
	color: #ffc107;
	padding: 30px 0px;
	background-color: #2b0945;
	}

	.cont-footer li {
		margin:  10px ;
		cursor: pointer;

	}
.img-social {
		height: 24px;
		width: 24px;
}